<div>
  <p>
    <strong>Title</strong>
    <%= article.title %>

    <strong>Date:</strong>
    <%= l(article.created_at,format: :only_time)%>
    <%= image_tag article.cover_image.variant(:cover) if article.cover_image.attached? %>
  </p>
</div>